 {{#if banner.length}}
 {{#each banner}}
<div class="banner-section mdl-typography--text-center">
  <div class="slogan">{{slogan}}</div>
  <div class="sub-slogan">{{subslogan}}</div>
   {{#if button}}
  <a href="{{linkButton}}">
    <!-- Raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      {{button}}
    </button>
  </a>  
   {{/if}}
</div>
{{/each}}
{{/if}}
