<div class="banner-section mdl-typography--text-center">
  <div class="logo-font slogan">¡Viaja!</div>
  <div class="logo-font sub-slogan">Descubre lugares maravillosos</div>

  <a href="#products">
    <!-- Raised button with ripple -->
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Ver destinos
    </button>
  </a>
  
</div>
