<footer>
  <!-- emmet tips -->
  {{!-- div.enlaces>ul>li*6 --}}
  {{!-- div.enlaces>ul>li*3.item${item $} --}}
  {{!-- div.enlaces>ul>li*3.item${item $}^^div.redes --}}
  {{!-- div.enlaces>ul>li*3.item${item $}^^div.redes>img*4 --}}
  {{!-- div.enlaces>ul>li*3.item$>a{$ item}^^div.redes>img*4 --}}
  <div class="enlaces">
    <!-- nos permite tabular y saltar entre atributos -->
    <ul>
      <li class="item1"><a href="/about">1 item</a></li>
      <li class="item2"><a href="/terms">2 item</a></li>
      <li class="item3"><a href="/home">3 item</a></li>
    </ul>
    <div class="redes">
      <img src="#" alt="">
      <img src="#" alt="">
      <img src="#" alt="">
      <img src="#" alt="">
    </div>
  </div>  
</footer>