<div class=" mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    {{!-- <div class="mdl-grid"> --}}
      <div class="mdl-cell mdl-cell--3-col">
        <!-- logo -->       
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <img alt="logo" title="Logo GeeksHubs travel" src="img/iconoweb.png">
            </div>
            <div class="mdl-cell mdl-cell--12-col">
               <span class="mdl-layout-title">
                <a title="Home" href="/">{{title}}</a>
              </span>
            </div>
            
         </div>   
      </div>

      <div class="mdl-cell mdl-cell--7-col">
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Destinos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Quiénes somos</a>
          <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Dónde estamos</a>
        </nav>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col social-links">
              <!-- Social -->
                <a class="mdl-navigation__link" href=""><i class="fab fa-twitter-square"></i></a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-whatsapp-square"></i></a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-twitter-square"></i></a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-instagram"></i></a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-linkedin"></i></a>
                <a class="mdl-navigation__link" href=""><i class="fab fa-youtube-square"></i></a>
            </div>
            <!-- TODO -->
            {{!-- <div class="mdl-cell mdl-cell--6-col">
              <!-- Search -->
              <!-- Add spacer, to align navigation to the right in desktop -->
              <div class="mdl-layout-spacer"></div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
                  <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                  <input class="mdl-textfield__input" type="text" id="search-field">
                </div>
              </div>

              <!-- Menu vert -->         
              <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
              </button>
              <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item">Lorem</li>
                <li class="mdl-menu__item">ipsum</li>
              </ul>
            </div> --}}
            
        </div>
        

        

      </div>
    {{!-- </div> --}}
     
  </div>
</div>