           <h1>UI - Material Design Alerts</h1>

<h2>Only Message</h2>
<div class="alert alert-success" role="alert">
  <button type="button" class="close-alert">×</button>
  <p>Lorem Ipsum</p>
</div>
<div class="alert alert-warning" role="alert">
  <button type="button" class="close-alert">×</button>
  Lorem Ipsum
</div>
<div class="alert alert-danger" role="alert">
  <button type="button" class="close-alert">×</button>
  Lorem Ipsum
</div>

<h2>Message + Icon</h2>

<div class="alert alert-success" role="alert">
  <button type="button" class="close-alert">×</button>
  <i class="material-icons">warning</i>
  Lorem Ipsum
</div>
<div class="alert alert-warning" role="alert">
  <button type="button" class="close-alert">×</button>
  <i class="material-icons">info</i>
  Lorem Ipsum
</div>
<div class="alert alert-danger" role="alert">
  <button type="button" class="close-alert">×</button>
  <i class="material-icons">error</i>
  Lorem Ipsum
</div>
