<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
  </head>
  <body>
    <!-- dos llaves es texto -->
    <!-- triple llave le indicas que es html -->
    {{{body}}}
    {{> footer}}
  </body>
</html>