<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/components/material-design-lite/material.min.css">
    <script src="/components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- ocupa mucho -->
    {{!-- <link rel="stylesheet" href="/components/material-design-icons/iconfont/material-icons.css"> --}}

    <!-- custom theme -->
    <link rel="stylesheet" href="/styles/theme.css">

  </head>
  <body>
    {{{body}}}
    <i class="material-icons">face</i>
    {{> footer}}
  </body>
</html>