
<H1>SUBE TUS FOTOS DE GATOS</H1>

<form action="/nuevoGato" method="POST"  enctype="multipart/form-data">

    <input type="file" required name='file'>
    <input type="submit">

</form>

<h3>{{message}}</h3>