/** Custom theme **/
/* html, body{
  font-size: 62.5%;
}
h1{
  font-size: 2.2rem; 
}
p{
  font-size: 1.6rem; 
} */

/* Layout */

.mdl-layout__container{
  background-color: #f3f3f3;
}

/* Footer */
.mdl-mega-footer {
  background-color: #100633;
      /* color: #9e9e9e; */
}
.mdl-mega-footer--heading, .mdl-mega-footer__heading{
  font-size: 1.4rem;
}
.mdl-mega-footer .mdl-textfield__input{
  border-bottom: 1px solid #9e9e9e;
}
.mdl-mega-footer  .mdl-textfield__label{
  color: inherit;
}
.mdl-mega-footer__bottom-section {
  border-top: 2px solid #080319;
}

/* Navbar */
header.mdl-layout__header {
    background-color: transparent;
}
.mdl-layout__header-row{
  /* height: 100px; */
}
/*
.mdl-layout__header.is-compact {
    background: #100633;
}*/

.mdl-layout-title a{
    color: #231f20;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.mdl-layout__header-row img {
  width: 190px;
  padding-top: 2.5rem;
  position: relative;
}
a.mdl-navigation__link {
  font-weight: 700;
  font-size: 1.2rem;
}
.social-links a.mdl-navigation__link {
  display: inline-block;
  padding: 0 1rem 0 0;
}

/* Header */

.banner-section{
  /* height: 750px; */
  /* background-color: #f3f3f3; */
  /* background: url(../img/nathan-anderson-316188-unsplash.jpg) center 30% no-repeat; */
  /* background-size: cover; */
  padding-bottom: 4rem;
  /* margin-top: -100px; */
}
.slogan {
  font-size: 5rem;
  padding-top: 10rem;
  color: #fff;
}
.sub-slogan {
  font-size: 2rem;
  padding: 4rem 0;
  color: #fff;
}

/* Drawer */

.mdl-layout__drawer img {
  width: 120px;
  padding-top: 2.5rem;
  position: relative;
}

/* Register */ 

.auth{
  padding-bottom: 4rem;
  margin-top: -100px;
}

section#register {
  padding: 15rem 0 0;
}
.auth .mdl-card{
  width: 100%;
}

/* Main */

.mdl-layout__content{
  background: #fff;
}

/* Cards */

.demo-card-event.mdl-card {
  width: 100%;
  height: 320px;
  background: #3E4EB8;
  /* background:
  url('../img/travels/tokyo.jpg') bottom right 15% no-repeat #46B6AC; */
}
.demo-card-event .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event .mdl-card__title {
  align-items: flex-start;
  padding: 0;
}
.demo-card-event .mdl-card__title .mdl-grid.mdl-grid--no-spacing {
    margin: 0;
    width: 100%;
}
.demo-card-event .mdl-card__title h3 {
  margin: 0;
  background: #f5dc3b;
  height: 6rem;
  line-height: 6rem;
  padding: 1rem 0 1rem 0.5rem;
  color: #100633;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.demo-card-event .mdl-card__title h4 {
  margin: 0;
  /* width: 100%; */
  background: #100633;
  padding: 0;
  height: 3rem;
  padding: 1rem;
  line-height: 3rem;
  font-size: 1em;
  font-weight: 500;
}

.demo-card-event .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event .mdl-card__actions .material-icons {
  padding-right: 10px;
}
.demo-card-event  .mdl-card__title,
.demo-card-event .mdl-card__actions,
.demo-card-event .mdl-card__actions .mdl-button {
  color: #fff;
  font-size: 1.5rem;
  width: 100%;
}